<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ariane" version="4.2.54.2" targetFramework="net46" />
  <package id="CloudSoft.Extensions" version="1.2.11.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net46" />
</packages>