<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="ariane" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="serviceBus" type="Ariane.Configuration.ServiceBusConfigurationSection, Ariane" />
		</sectionGroup>
	</configSections>
	<ariane>
		<serviceBus>
			<queueReaders>
				<add queueName="sendemail"
						 typeMedium="Ariane.MSMQMedium, Ariane"
						 />
				<add queueName="emailbodyrequested"
						 typeMedium="Ariane.MSMQMedium, Ariane"
						 typeReader="QMailer.Web.EmailBodyRequestedMessageReader,QMailer.Web"
						 />
			</queueReaders>
		</serviceBus>
	</ariane>
</configuration>