@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
	@RenderSection("head", false)
</head>
<body>
    <div>
		@RenderBody()
    </div>
</body>
</html>
